body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed; 
}

td {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    /* font-size: 2vw; */
}

#first-cell {
    background-color: lightblue;
}

#second-cell {
    background-color: lightcoral;
}